@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    resize: none;
}

:root {
    --cor-fundo: #F6E4D1;
    --cor-principal: #FF6D1D;
    --cor-fundo-secundaria: #E1DEDE;
    --cor-textos: #000000;
    --cor-fundo-terciaria: #BEBEBE;
    --azul-escuro: #1E2631;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: var(--cor-fundo);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 30px 45px;
}

h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
}

.arquivo {
    background-color: var(--cor-fundo-secundaria);
    width: 100%;
    height: 280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.arquivo img {
    width: 130px;
    height: auto;
    opacity: 0.55;
}

.arquivo p {
    font-size: 30px;
    color: #8a8a8a;
}

main a {
    display: inline-block;
    margin-top: 30px;
    background-color: var(--cor-principal);
    padding: 8px 35px;
    border-radius: 30px;
    color: var(--cor-fundo);
    border: 2px solid var(--cor-principal);
    transition: all 0.4s;
}

main a:hover {
    background-color: transparent;
    color: var(--cor-principal);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-top: 1px solid black;
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
}

footer img {
    width: 100px;
    margin-bottom: 30px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer nav a {
    color: var(--cor-fundo);
}

@media (min-width: 768px) and (max-width: 1023px) {

    main {
        padding: 30px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    .arquivo {
        height: 350px !important;
    }

    .arquivo img {
        width: 140px !important;
    }

    .arquivo p {
        font-size: 28px !important;
        text-align: center !important;
    }

    main a {
        padding: 8px 35px !important;
        font-size: 16px !important;
    }

    footer {
        flex-wrap: wrap !important;
        justify-content: space-around !important;
        text-align: center !important;
        gap: 25px !important;
        padding: 25px !important;
    }

    footer nav,
    .redes {
        align-items: center !important;
    }
}

@media (max-width: 767px) {

    main {
        padding: 20px !important;
    }

    h2 {
        font-size: 24px !important;
        margin-bottom: 20px !important;
    }

    .arquivo {
        height: 300px !important;
        gap: 20px !important;
    }

    .arquivo img {
        width: 110px !important;
    }

    .arquivo p {
        font-size: 22px !important;
        text-align: center !important;
    }

    main a {
        padding: 7px 28px !important;
        font-size: 14px !important;
        margin-top: 25px !important;
    }

    footer {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        gap: 20px !important;
        padding: 20px !important;
    }

    footer nav,
    .redes {
        align-items: center !important;
    }
}