@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-fundo: #F6E4D1;
    --cor-principal: #FF6D1D;
    --cor-fundo-secundaria: #E1DEDE;
    --cor-textos: #000000;
    --cor-fundo-terciaria: #BEBEBE;
    --azul-escuro: #1E2631;
}

body {
    background-color: var(--cor-fundo);
    font-family: "Inter", sans-serif;
    padding-top: 65px;
}

header {
    background-color: var(--cor-principal);
    width: 100%;
    height: 65px;

    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header > a {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    margin-left: 10px;
}

header nav {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 25px !important;
    margin-right: 15px !important;
}

header nav a {
    color: white !important;
    font-size: 16px;
    transition: all 0.4s;
}

header nav a:hover {
    font-weight: bolder;
}

.btn-cadastro {
    background-color: black;
    color: white !important;
    padding: 7px 14px;
    border-radius: 100px;
    font-size: 15px;
    border: 3px solid black;
    transition: all 0.4s;
}

.btn-cadastro:hover {
    color: black !important;
    background-color: transparent;
}