@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #F6E4D1;
    --cor-principal: #FF6D1D;
    --cor-fundo-secundaria: #E1DEDE;
    --cor-textos: #000000;
    --cor-fundo-terciaria: #BEBEBE;
    --azul-escuro: #1E2631;
}

body {
    background-color: var(--cor-fundo);
    font-family: "Inter", sans-serif;
}

header {
    background-color: var(--cor-principal);
}

header img {
    margin-left: 10px;
}

main {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    margin-left: -80px;
}

.perfil {
    border-radius: 1000px;
    width: 176px;
    position: relative;
    top: -40px;
    left: 30px;
}

.form-container {
    width: 400px;
    margin: 50px;
    font-family: "Inter", sans-serif;
}

.campo {
    margin-bottom: 25px;
    position: relative;
    left: 240px;
    top: -230px;
}

.campo label {
    display: block;
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 20px;
    width: fit-content;
    min-width: 275px;
    font-size: 18px;
}

.campo input,
.campo textarea {
    width: 355px;
    height: 150px;
    margin-top: -10px;
    padding: 50px 20px;
    border-radius: 30px;
    border: none;
    background-color: #C9C7C7;
    font-size: 16px;
    color: var(--cor-principal);
}

.campo p {
    position: relative;
    left: 10px;
    font-size: 0.5em;
}

.campo2 {
    margin-bottom: 25px;
    position: relative;
    left: 740px;
    top: -445px;
}

.navegacao1 {
    display: block;
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 20px;
    width: fit-content;
    min-width: 400px;
    font-size: 18px;
}

.navegacao2 {
    width: 495px;
    height: 450px;
    margin-top: -10px;
    padding: 50px 20px;
    border-radius: 30px;
    border: none;
    background-color: #C9C7C7;
    font-size: 16px;
    color: var(--cor-principal);
}

.navegacao2 a {
    display: inline-block;
    margin-top: 25px;
}

.btn1 {
    margin-top: 20px;
    background-color: var(--cor-principal);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--cor-principal);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover {
    background-color: transparent;
    color: var(--cor-principal);
}

.btn2 {
    margin-top: 20px;
    background-color: var(--cor-principal);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--cor-principal);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    right: 215px;
    top: 60px;
}

.btn2:hover {
    color: var(--cor-principal);
    background-color: transparent;
}

.btn3 {
    margin-top: 20px;
    background-color: var(--cor-principal);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--cor-principal);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    right: 0px;
    top: 50px;
}

.btn3:hover {
    color: var(--cor-principal);
    background-color: transparent;
}

.campo.grande textarea {
    height: 80px;
    resize: none;
}

::placeholder {
    color: var(--cor-principal);
    position: relative;
    top: 15px;
}

input,
textarea {
    font-family: "Inter", sans-serif;
}

.btn {
    color: var(--cor-fundo);
    padding: 3px 18px;
    background-color: var(--cor-principal);
    border-radius: 50px;
    border: 2px solid var(--cor-principal);
    transition: all 0.4s;
    margin-bottom: 10px;
    margin-left: 30px;
}

.btn:hover {
    color: var(--cor-principal);
    background-color: transparent;
}

.btn_voltar {
    margin-top: 20px;
    background-color: var(--cor-principal);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid var(--cor-principal);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    right: 215px;
    top: 60px;
}

.btn_voltar:hover {
    color: var(--cor-principal);
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px black solid;
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer nav a {
    color: var(--cor-fundo);
}
